/* SGM Hile Butonu Tasarımı */
.sgm-cheat-btn {
    margin-top: 15px;
    background: linear-gradient(135deg, #a855f7, #3b185f);
    color: white;
    border: 2px solid #c084fc;
    padding: 10px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(168, 85, 247, 0.2);
    transition: transform 0.05s ease;
    -webkit-tap-highlight-color: transparent;
}

.sgm-cheat-btn:active {
    transform: scale(0.95);
    background: #6b21a8;
}

